@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HennovativeTechnologies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HennovativeTechnologies.styles.css" asp-append-version="true" />

</head>
<style>
    /* Custom CSS for styling */
    .navbar.navbar-light {
        background-color: #c74b1a;
    }

        .navbar.navbar-light .navbar-brand,
        .navbar.navbar-light .navbar-nav .nav-link {
            color: #fff; /* White text color */
        }
</style>
<body>
    <header>
        <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Hent_Logo.png" alt="Logo"></a>
            <div class="company-name">
                <strong><a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: white;">Hennovative Technologies</a></strong>
            </div>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="ProgramChat">Program</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="RecipeChat">Recipe</a></li>
                <li><a asp-area="" asp-controller="ImageGen" asp-action="Index">Image</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PunChat">Puns</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="QuestionChat">Question</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>   
                    </li>
                }
                
            </ul>
        </div>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
